html,body{
    margin: 0;
    padding: 0;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    float: left;
    width: 100%;
    list-style: none;
}
/*联系栏*/
.tab_contact{
    position: fixed;
    width: 100%;
    top: 0;
    z-index:99;
    height: 30px;
    font-size: 15px;
    background: black;
    color: white;
    font-weight: 500;

}
.tab_contact span{
    margin: 6px 50px 3px 400px;
    float: left;
}
.tab_contact a{
    text-decoration:none;
}
.tab_contact img{
    margin: 6px;
}
/*导航栏*/
.tab{
    position: fixed;
    width: 100%;
    top: 30px;
    z-index:99;
    text-transform: uppercase;
    background-color: white;
    overflow:hidden;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: gainsboro;
}
.tab img{
    margin: 8px 13px 8px 200px;
    float: left;
}
.tab span{
    font-size: 28px;
    font-weight: 600;
    float: left;
    margin:  16px 0 0 0;
}
.tab_title{
    /*去除列表前面的点*/
    list-style-type: none;
    /*显示背景*/
    overflow:hidden;
    background: white;
    /*外边距*/
    margin: 0;
}
.tab_title li{
    height: 60px;
    width: 130px;
    /*使列表水平排列*/
    float: right;
    /*设置内边距 上下边距为0 左右边距为20px*/
    padding: 18px 0 0 0 ;
    text-align: center;
    /*background: burlywood;*/
}
.tab_title li:hover{
    height: 60px;
    width: 130px;
    /*使列表水平排列*/
    float: right;
    /*设置内边距 上下边距为0 左右边距为20px*/
    padding: 18px 0 0 0 ;
    text-align: center;
    /*background: burlywood;*/
    background: blanchedalmond;
}
.tab_title li a{
    /*字体大小*/
    font-size: 18px;
    font-weight: 500;
    /*去除下划线*/
    text-decoration:none;
    color: black;
}
.tab_title .language{
    margin: 3px 10px 4px 30px;
}
.tab .language_btn {
    float: right;
    margin: 18px 100px 0 100px;
    font-size: 15px;
    width: 70px;
    height: 22px;
    /*padding: 20px 100px 0 100px ;*/
    background:transparent;
    border-width:0px;
    outline:none;	/*点击后没边框*/
}
.data_1{
    height: 800px;
}
.data_1 .title_text1{
    margin: 17% 0 0 20%;
    position:absolute;
    z-index:98;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.data_1 .title_text2{
    margin: 18% 0 0 20%;
    position:absolute;
    z-index:98;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.data_1 .title_text3{
    margin: 24% 0 0 20%;
    position:absolute;
    z-index:98;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.data_1 .img1{
    position:absolute;z-index:1;
}
.data_1 .img2{
     position:absolute;z-index:0;
 }
.data_1 .img3{
    position:absolute;z-index:0;
}
.list{
    position:absolute;
    margin: 40% auto auto 43%;
    z-index:2;
}

.list li{
    float: right;
    margin: 0 10px 0 0 ;
    list-style: none;
}
.list li button{
    outline:none;
    background: white;
    width: 56px;
    height: 12px;
    border: 1px white;
    border-radius: 8px;
    opacity: 0.7;
}
.list li button:active{
    background: dimgray;
    width: 56px;
    height: 12px;
    border: 1px white;
    border-radius: 8px;
    opacity: 0.7;
}
.right{
    outline:none;
    height: 75px;
    width: 40px;
    position:absolute;
    z-index:2;
    margin: 20% 0 0 97.84%;
    border-width: 0;
    background: rgba(255, 255, 255, 0.2) url("../img/jiantou2.png") no-repeat;
    background-size:100% 100%;
}
.left{
    outline:none;
    height: 75px;
    width: 40px;
    position:absolute;
    z-index:2;
    margin: 20% 0 0 0.01%;
    border-width: 0;
    background: rgba(255, 255, 255, 0.2) url("../img/jiantou1.png") no-repeat;
    background-size:100% 100%;
}
.data_2{
    height: 600px;
    margin: 0;
    padding: 0;
}
.data_3{
    height: 600px;
    margin: 0;
}
.bottom{
    float: none;
    height: 80px;
    margin: 0;
    text-align: center;
    color: black;
    background: white;
}
.bottom span{
    font-size: 15px;
    /*margin: 50px 0 0 0;*/
    display:block;
    /*background: blanchedalmond;*/
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}
::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: black;
}

.gotop{
    outline:none;
    position:fixed;
    z-index: 100;
    top: 870px;
    left: 1780px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 30px;
    border-width: 0;
    background: rgba(0, 0, 0, 0.5) url("../img/top.png") no-repeat;
    background-size:100% 100%;
}
.gotop a{
    text-decoration:none;
}
